<md-card fxLayout
         fxLayoutAlign="center"
         fxLayoutWrap
>
  <md-card-header fxFlex="60%" fxFlex.xs="100%">
    <md-card-title>
      <h2>Login</h2>
    </md-card-title>
  </md-card-header>
  <form #f="ngForm" (ngSubmit)="login(f.value)" fxFlex="100%" fxLayout fxLayoutAlign="center" fxLayoutWrap
  >
    <md-card-content fxFlex="60%" fxFlex.xs="100%">
      <md-input-container class="full-width">
        <input md-input placeholder="Email Address" type="email" required="true" name="email" ngModel>
      </md-input-container>
      <md-input-container class="full-width">
        <input md-input placeholder="Password" type="password" required="true" name="password" ngModel>
      </md-input-container>
    </md-card-content>
    <md-card-actions fxFlex="60%" fxFlex.xs="100%">
      <div fxLayout
           fxLayout.xs="column"
           fxLayoutAlign.xs="center"
           fxLayoutGap.xs="1em"
      >
        <button md-raised-button color="primary" fxFlex="10%" fxFlex.xs="100%" type="submit">Login</button>
        <a md-raised-button routerLink="/signup" fxFlex="10%" fxFlex.xs="100%">Register</a>
      </div>
    </md-card-actions>
  </form>
</md-card>
