<md-card fxLayout
         fxLayoutAlign="center"
         fxLayoutWrap
>
  <md-card-header fxFlex="80%" fxFlex.xs="100%">
    <md-card-title>
      <h2>All Books</h2>
    </md-card-title>
  </md-card-header>
  <p *ngIf="nobook" class="nobook" fxFlex="80%" fxFlex.xs="100%">NO BOOKS</p>
  <md-card-content fxFlex="80%" *ngIf="books.length">
    <md-grid-list cols="{{cols}}" gutterSize=".4em" rowHeight="3:5">
      <md-grid-tile *ngFor="let book of books">
        <md-grid-tile-header>
          <a href="{{book.link}}" target="_blank">
            {{book.title}}
          </a>
        </md-grid-tile-header>
        <img src="{{book.thumbnail}}" alt="{{book.title}}" class="full-width">
        <md-grid-tile-footer>
          <button md-raised-button color="primary" class="full-width-button" (click)="requestBook(book._id)">Request</button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
  <md-spinner *ngIf="loading" fxFlex="30%" class="spinner"></md-spinner>
  <button md-button fxFlex="80%" *ngIf="more && !nobook" (click)="loadMore()" class="center">More</button>
</md-card>
