s<md-card fxLayout
         fxLayoutAlign="center"
         fxLayoutWrap
>
  <md-card-header fxFlex="70%" fxFlex.xs="100%">
    <md-card-title>
     <h2>User Books</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content fxFlex="70%" fxFlex.xs="100%" fxLayout fxLayoutAlign="center" fxLayoutWrap>
    <md-input-container class="full-width" fxFlex="80%">
      <input type="text" md-input placeholder="Add your Book" name="title" #search (keyup.enter)="adduserbook(search.value)" ngModel>
    </md-input-container>
    <button md-button fxFlex="20%" fxAlign="baseline" (click)="adduserbook(search.value)">
      <md-icon>library_add</md-icon>
    </button>
  </md-card-content>
</md-card>
<md-card fxLayout
         fxLayoutAlign="center"
         fxLayoutWrap
>
  <md-tab-group fxFlex="70%" fxFlex.xs="100%">
    <md-tab label="My Books">
      <app-mybooks></app-mybooks>
    </md-tab>
    <md-tab label="Borrowed Books">
      <app-borrowed-books></app-borrowed-books>
    </md-tab>
    <md-tab label="Trade Requests">
      <app-trade-requests></app-trade-requests>
    </md-tab>
    <md-tab label="My Trade Requests">
      <app-my-trade-requests></app-my-trade-requests>
    </md-tab>
  </md-tab-group>
</md-card>
