<md-card fxLayout
         fxLayoutAlign="center"
         fxLayoutWrap
>
  <md-card-header fxFlex="80%" fxFlex.xs="100%">
    <md-card-title>
      <h2>Update Profile</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content fxFlex="80%" fxFlex.xs="100%">
    <md-input-container class="full-width">
      <input md-input placeholder="Name" type="text">
    </md-input-container>
    <md-input-container class="full-width">
      <input md-input placeholder="City" type="text">
    </md-input-container>
    <md-input-container class="full-width">
      <input md-input placeholder="State" type="text">
    </md-input-container>
  </md-card-content>
  <md-card-actions fxFlex="80%" fxFlex.xs="100%">
    <div fxLayout
         fxLayoutWrap.xs
         fxLayoutGap.xs="1em"
    >
      <button md-raised-button color="primary" fxFlex="30%" fxFlex.xs="100%">Save Changes</button>
    </div>
  </md-card-actions>
</md-card>

<md-card fxLayout
         fxLayoutAlign="center"
         fxLayoutWrap
>
  <md-card-header fxFlex="80%" fxFlex.xs="100%">
    <md-card-title>
      <h2>Change Password</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content fxFlex="80%" fxFlex.xs="100%">
    <md-input-container class="full-width">
      <input md-input placeholder="Current Password" type="password">
    </md-input-container>
    <md-input-container class="full-width">
      <input md-input placeholder="New Password" type="password">
    </md-input-container>
  </md-card-content>
  <md-card-actions fxFlex="80%" fxFlex.xs="100%">
    <div fxLayout
         fxLayoutWrap.xs
         fxLayoutGap.xs="1em"
    >
      <button md-raised-button color="primary" fxFlex="30%" fxFlex.xs="100%">Save Changes</button>
    </div>
  </md-card-actions>
</md-card>
